.table,
.cards_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cards_container {
  flex-direction: column;
}

.card {
  padding: .5rem;
  margin: .5rem;
}

.deal-container {
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  background: none;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px;
}

button.positive {
  background-color:darkgreen;
}

button.negative {
  background-color:orangered
}